html, body * { 
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
  
body {
    background-color: #e6e6fa;
}


h1.titulo-pag{
    color: #1059FF;
   
}

a.btn-cinza{
    background-color:lightgray;
}